* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/AcknowledgementsTagLibBodyTagSupport.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/AcknowledgementsTagLibTagSupport.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/DBTest.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/Sequence.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/affiliation/Affiliation.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/affiliation/AffiliationDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/affiliation/AffiliationIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/affiliation/AffiliationOrganizationId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/affiliation/AffiliationPersonId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/affiliation/AffiliationPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/award/Award.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/award/AwardAgency.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/award/AwardAward.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/award/AwardDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/award/AwardID.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/award/AwardIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/awardMention/AwardMention.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/awardMention/AwardMentionAwardId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/awardMention/AwardMentionDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/awardMention/AwardMentionIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/awardMention/AwardMentionPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/awardee/Awardee.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/awardee/AwardeeAwardId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/awardee/AwardeeDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/awardee/AwardeeIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/awardee/AwardeePersonId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/awardee/AwardeePmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/clinicalTrial/ClinicalTrial.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/clinicalTrial/ClinicalTrialDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/clinicalTrial/ClinicalTrialID.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/clinicalTrial/ClinicalTrialIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/clinicalTrial/ClinicalTrialPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/clinicalTrial/ClinicalTrialPrefix.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaborant/Collaborant.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaborant/CollaborantCollaborationId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaborant/CollaborantDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaborant/CollaborantIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaborant/CollaborantOrganizationId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaborant/CollaborantPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaboration/Collaboration.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaboration/CollaborationCollaboration.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaboration/CollaborationDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaboration/CollaborationID.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaboration/CollaborationIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaborationMention/CollaborationMention.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaborationMention/CollaborationMentionCollaborationId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaborationMention/CollaborationMentionDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaborationMention/CollaborationMentionIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaborationMention/CollaborationMentionPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaborator/Collaborator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaborator/CollaboratorCollaborationId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaborator/CollaboratorDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaborator/CollaboratorIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaborator/CollaboratorPersonId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/collaborator/CollaboratorPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/discipline/Discipline.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/discipline/DisciplineDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/discipline/DisciplineDiscipline.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/discipline/DisciplineID.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/discipline/DisciplineIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/disciplineMention/DisciplineMention.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/disciplineMention/DisciplineMentionDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/disciplineMention/DisciplineMentionDisciplineId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/disciplineMention/DisciplineMentionIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/disciplineMention/DisciplineMentionPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/disease/Disease.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/disease/DiseaseDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/disease/DiseaseDisease.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/disease/DiseaseID.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/disease/DiseaseIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/disease/DiseaseUmlsId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/disease/DiseaseUmlsMatchString.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/diseaseMention/DiseaseMention.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/diseaseMention/DiseaseMentionDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/diseaseMention/DiseaseMentionDiseaseId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/diseaseMention/DiseaseMentionIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/diseaseMention/DiseaseMentionPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/event/Event.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/event/EventDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/event/EventEvent.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/event/EventID.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/event/EventIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/eventMention/EventMention.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/eventMention/EventMentionDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/eventMention/EventMentionEventId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/eventMention/EventMentionIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/eventMention/EventMentionPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/funder/Funder.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/funder/FunderAwardId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/funder/FunderDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/funder/FunderIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/funder/FunderOrganizationId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/funder/FunderPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/fundingAgency/FundingAgency.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/fundingAgency/FundingAgencyDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/fundingAgency/FundingAgencyFundingAgency.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/fundingAgency/FundingAgencyID.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/fundingAgency/FundingAgencyIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/fundingAgencyMention/FundingAgencyMention.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/fundingAgencyMention/FundingAgencyMentionDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/fundingAgencyMention/FundingAgencyMentionFundingAgencyId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/fundingAgencyMention/FundingAgencyMentionIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/fundingAgencyMention/FundingAgencyMentionPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/investigator/Investigator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/investigator/InvestigatorDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/investigator/InvestigatorIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/investigator/InvestigatorOrganizationId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/investigator/InvestigatorPersonId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/investigator/InvestigatorPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/location/Location.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/location/LocationDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/location/LocationGeonamesId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/location/LocationGeonamesMatchString.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/location/LocationID.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/location/LocationIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/location/LocationLocation.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/locationMention/LocationMention.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/locationMention/LocationMentionDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/locationMention/LocationMentionIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/locationMention/LocationMentionLocationId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/locationMention/LocationMentionPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organicChemical/OrganicChemical.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organicChemical/OrganicChemicalDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organicChemical/OrganicChemicalID.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organicChemical/OrganicChemicalIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organicChemical/OrganicChemicalOrganicChemical.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organicChemical/OrganicChemicalUmlsId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organicChemical/OrganicChemicalUmlsMatchString.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organicChemicalMention/OrganicChemicalMention.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organicChemicalMention/OrganicChemicalMentionDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organicChemicalMention/OrganicChemicalMentionIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organicChemicalMention/OrganicChemicalMentionOrganicChemicalId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organicChemicalMention/OrganicChemicalMentionPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organism/Organism.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organism/OrganismDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organism/OrganismID.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organism/OrganismIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organism/OrganismOrganism.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organism/OrganismUmlsId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organism/OrganismUmlsMatchString.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organismMention/OrganismMention.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organismMention/OrganismMentionDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organismMention/OrganismMentionIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organismMention/OrganismMentionOrganismId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organismMention/OrganismMentionPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organization/Organization.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organization/OrganizationDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organization/OrganizationGeonamesId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organization/OrganizationGeonamesMatchString.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organization/OrganizationGridId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organization/OrganizationGridMatchString.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organization/OrganizationID.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organization/OrganizationIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organization/OrganizationOrganization.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organizationMention/OrganizationMention.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organizationMention/OrganizationMentionDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organizationMention/OrganizationMentionIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organizationMention/OrganizationMentionOrganizationId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/organizationMention/OrganizationMentionPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/person/Person.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/person/PersonAppendix.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/person/PersonDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/person/PersonFirstName.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/person/PersonID.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/person/PersonIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/person/PersonLastName.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/person/PersonMiddleName.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/person/PersonTitle.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/personMention/PersonMention.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/personMention/PersonMentionDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/personMention/PersonMentionIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/personMention/PersonMentionPersonId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/personMention/PersonMentionPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/project/Project.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/project/ProjectDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/project/ProjectID.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/project/ProjectIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/project/ProjectProject.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/projectMention/ProjectMention.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/projectMention/ProjectMentionDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/projectMention/ProjectMentionIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/projectMention/ProjectMentionPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/projectMention/ProjectMentionProjectId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/provider/Provider.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/provider/ProviderDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/provider/ProviderIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/provider/ProviderPersonId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/provider/ProviderPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/provider/ProviderResourceId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/publicationComponent/PublicationComponent.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/publicationComponent/PublicationComponentDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/publicationComponent/PublicationComponentID.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/publicationComponent/PublicationComponentIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/publicationComponent/PublicationComponentPublicationComponent.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/publicationComponentMention/PublicationComponentMention.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/publicationComponentMention/PublicationComponentMentionDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/publicationComponentMention/PublicationComponentMentionIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/publicationComponentMention/PublicationComponentMentionPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/publicationComponentMention/PublicationComponentMentionPublicationComponentId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/resource/Resource.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/resource/ResourceAltUmlsId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/resource/ResourceAltUmlsMatchString.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/resource/ResourceDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/resource/ResourceID.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/resource/ResourceIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/resource/ResourceResource.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/resource/ResourceUmlsId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/resource/ResourceUmlsMatchString.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/resourceMention/ResourceMention.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/resourceMention/ResourceMentionDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/resourceMention/ResourceMentionIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/resourceMention/ResourceMentionPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/resourceMention/ResourceMentionResourceId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/skill/Skill.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/skill/SkillDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/skill/SkillIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/skill/SkillPersonId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/skill/SkillPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/skill/SkillTechniqueId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/support/Support.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/support/SupportDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/support/SupportID.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/support/SupportIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/support/SupportSupport.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/supportMention/SupportMention.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/supportMention/SupportMentionDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/supportMention/SupportMentionIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/supportMention/SupportMentionPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/supportMention/SupportMentionSupportId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/supporter/Supporter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/supporter/SupporterDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/supporter/SupporterIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/supporter/SupporterOrganizationId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/supporter/SupporterPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/supporter/SupporterSupportId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/technique/Technique.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/technique/TechniqueDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/technique/TechniqueID.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/technique/TechniqueIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/technique/TechniqueTechnique.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/technique/TechniqueUmlsId.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/technique/TechniqueUmlsMatchString.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/techniqueMention/TechniqueMention.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/techniqueMention/TechniqueMentionDeleter.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/techniqueMention/TechniqueMentionIterator.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/techniqueMention/TechniqueMentionPmcid.java -text
src/main/java/edu/uiowa/AcknowledgementsTagLib/techniqueMention/TechniqueMentionTechniqueId.java -text
src/main/resources/META-INF/taglib.tld -text
src/non-packaged-resources/Model.clay -text
src/non-packaged-resources/model.sql -text
src/non-packaged-resources/views.sql -text
src/test/java/edu/uiowa/AcknowledgementsTagLib/README.txt -text
src/test/resources/README.txt -text
